################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/terepad/FileContentIndex/8406290a-ed33-4cf5-828b-06878c2f41c6.vsidx
/.vs/terepad/FileContentIndex/c27911d3-5d42-496e-a986-a8f9887f9a01.vsidx
/.vs/terepad/FileContentIndex/de8022a0-6dbe-4f71-bb35-a9cc89a4c430.vsidx
/.vs/terepad/FileContentIndex/b9ba0aca-fc31-43cd-8e8d-2e1a5d7aae16.vsidx
/.vs/terepad/FileContentIndex/128fcfdd-c76c-48cc-950a-e11ac42ee11c.vsidx
/.vs/terepad/FileContentIndex/8ffc5af6-909c-4232-a5ba-8eb331ff596a.vsidx
/.vs/terepad/FileContentIndex/614996f0-feab-4115-a77e-b02b5f629384.vsidx
