################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/terepad/FileContentIndex/8406290a-ed33-4cf5-828b-06878c2f41c6.vsidx
